* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  height: 100vh;
}

.logo {
  display: block;
  margin: 1% auto;
}

.main {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.form input {
  width: 30vw;
  padding: 0.5%;
  margin-right: 2%;
}

.form button {
  width: 10vw;
  border: none;
  background-color: black;
  color: white;
}

.form button:hover {
  background-color: white;
  color: black;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.article {
  width: 35vw;
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid black;
}

.article-img {
  height: 40vh;
  width: 100%;
}

.article-headline {
  padding: 0 1%;
  margin-top: 10px;
}

.article-info {
  display: flex;
  flex-direction: column;
}

.article b {
  font-size: 1.5em;
}

.article p {
  font-size: 1.2em;
  padding: 0 1%;
}

.article a {
  text-decoration: none;
  color: white;
  padding: 2%;
  background-color: black;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.article a:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  box-sizing: border-box;
}