<img class="logo" src="/images/NYTimes-banner.png" alt="NY Times Logo">
<section class="main">
  <form class="form" action="/articles" method="get">
    <input type="text" name="q">
    <button type="submit">Search for An Article</button>
  </form>
</section>